* {
    margin: 0px;
    padding: 0px;
}

ul {
    background-color: orange;
    list-style: square inside url('./img/fake-icon.png');
}

ol {
    list-style-type: lower-roman;
    background-color: aqua;
}

ul li {
    border: 1px solid black;
    padding: 20px;
}

ol li {
    border: 1px solid black;
    padding: 20px;
}